* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.empty {
  width: 100%;
  height: 42px;
  background-color: #1d1d1f;
}
.Nav-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1d1d1f;
  width: 100%;
  height: 42px;
  position: fixed;
  z-index: 1;
}
.list {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  list-style: none;
  gap: 12px;
}
.list li {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 44px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 12px;
  margin-right: 12px;
  font-size: 13px;
  font-weight: 200;
}
.list li img {
  width: 15px;
}
#search {
  font-size: 20px;
}
/* Nav On Hover */

.dropdown {
  padding: 30px;
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: auto;
  background-color: #1d1d1f;
}
.list li:hover .dropdown {
  display: block;
}

.dropdown li {
  color: #333;
  list-style: none;
  padding: 0;
  margin: 0;
  color: #d2d2d7;
}
.dropdown a {
  text-decoration: none;
  color: white;
  font-size: 25px;
  padding: 0;
  margin: 0;
}
.dropdown a:hover {
  color: #2997ff;
}
.dropdown input {
  width: 25%;
  height: 2.5rem;
  padding: 20px;
  border-style: none;
  background-color: #1d1d1f;
  font-size: 20px;
  color: #f5f5f7;
  font-family: "Roboto", sans-serif;
  border: 0.5px solid #2997ff;
  border-radius: 20px;
}
.dropdown-item {
  cursor: pointer;
}

.offer-msg {
  width: 100%;
  height: 50px;
  background-color: #1d1d1f;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.offer-msg p {
  width: 65%;
  text-align: center;
  color: aliceblue;
  font-size: 15px;
  font-weight: 500;
}
.offer-msg a {
  text-decoration: none;
  font-size: 17px;
  margin-left: 3px;
  color: #2997ff;
}
.banner {
  background-color: black;
  color: rgb(255, 255, 255);
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  padding-top: 16%;
}
.banner h1 {
  font-size: 60px;
  font-weight: 800;
}

.banner div {
  margin-top: 20px;
  font-size: 18px;
}
.banner div a {
  text-decoration: none;
  color: #2997ff;
  margin: 10px;
  font-size: larger;
  font-weight: 600;
}
.banner img {
  max-width: 80%;
  max-height: 70vh;
  object-fit: contain;
}
.video-Container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  padding: 0px 0px 10px 0px;
}
.shotOn-video-1 {
  margin-top: -40px;
  width: 100%;
  height: 40rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
}
.shotOn-video-1 video {
  width: 90%;
  border-radius: 20px;
}
.video-title {
  margin-top: -140px;
  color: azure;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.video-title a {
  text-decoration: none;
  color: #2997ff;
  margin: 10px;
  font-size: larger;
  font-weight: 600;
}
.watch {
  width: 100%;
  height: 100vh;
  background-color: #1d1d1f;
  display: flex;
  justify-content: center;
  align-items: center;
}
.watch-container1 {
  width: 90%;
  height: 90%;
  background-color: rgb(0, 0, 0);
  border-radius: 30px;
}
.Head-discription {
  width: 100%;
  height: 30%;
  background-color: black;
  display: flex;
  flex-direction: row;
  border-radius: 30px;
}
.watch-head {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  color: ghostwhite;
}
.watch-description {
  width: 50%;
  height: 100%;
  color: rgb(99, 99, 101);
  display: flex;
  justify-content: center;
  align-items: center;
}
.Qualities {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0);
}
.Q-container {
  width: 100%;
  height: 90%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.Q-container div {
  display: flex;
  align-items: center;
  color: darkgoldenrod;
  margin-left: 100px;
}
.image-contain {
  width: 100%;
  height: 40%;
  /* background-color: rgb(94, 25, 25); */
  border-radius: 30px;
  display: flex;
  justify-content: end;
  align-items: end;
  flex-direction: row;
  margin-left: 2px;
}
/* .image-contain:first-child {
  width: 50%;
} */
.image-contain img {
  width: 55.6%;
  overflow: hidden;
  border-radius: 0px 0px 0px 20px;
}
#last-watch-name {
  color: ghostwhite;
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 30px;
  margin-left: -80px;
  font-weight: 300;
}
.footer {
  width: 100%;
  height: 100vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
#ac-globalfooter {
  --footer-background: #f5f5f7;
  --footer-border-color: #d2d2d7;
  --footer-text-color: #6e6e73;
  --footer-link-color: #424245;
  --footer-pipe-color: #86868b;
  --footer-directory-title-color: #1d1d1f;
  --footer-directory-title-color-hover: #000;
}
.footer-container {
  width: 70%;
  height: 100%;
  background-color: #f5f5f7;
  margin-top: 10px;
  padding-bottom: 30px;
}
.footer-discription {
  font-size: 13px;
  color: #6e6e73;
  padding: 14px;
  border-bottom: 1px solid #d2d2d7;
}
.footer-discription a {
  color: #2997ff;
}
.footer-discription p {
  margin-bottom: 12px;
}
.footer-blocks {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: start;
  align-items: start;
}
.block1 {
  width: 20%;
  height: 65%;
  margin-top: 30px;
}
.block1 li {
  list-style: none;
  font-size: 12px;
  padding: 15px 0px 2px 20px;
}
#list-head {
  font-size: 13px;
}
.block1 a {
  text-decoration: none;
  color: #6e6e73;
}
.contact {
  margin-top: -15px;
  padding-bottom: 30px;
  padding-left: 20px;
  font-size: 14px;
  color: #424245;
}
.contact p {
  padding: 2px;
}
.contact a {
  color: #2997ff;
}

/* Styles for screens up to 600px */
@media screen and (max-width: 600px) {
  /* CSS rules for small screens */
  .Nav-bar {
    display: none;
  }
  .empty {
    height: 45px;
  }
  .offer-msg {
    width: 100%;
    height: 70px;
    padding: 10px;
  }
  .banner {
    max-height: 40vh;
  }
  .banner h1 {
    /* background-color: #fff; */
    padding: 20px 0px 0px 0px;
    font-size: 35px;
  }
  .banner h2 {
    font-size: 20px;
  }
  .banner div {
    margin: 5px 0px 10px 0px;
    padding: 0px 0px 30px 0px;
  }
  .banner div a {
    font-size: smaller;
    margin: 5px;
  }
  .video-Container {
    display: flex;
    flex-direction: column;
  }
  .shotOn-video-1 {
    margin: 10px 0px 50px 0px;
    height: auto;
  }
  .video-title h1 {
    font-size: 35px;
  }
  .video-title h2 {
    font-size: 20px;
  }
  .video-title a {
    font-size: smaller;
  }
  .watch-container1 {
    height: auto;
  }
  .Head-discription {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  .watch {
    height: 70vh;
    /* display: flex;
    justify-content: center;
    align-items: center; */
  }
  .watch-head {
    width: 100%;
    font-size: 15px;
  }
  .watch-description {
    width: 80%;
    padding: 10px 0px 0px 0px;
  }
  .Q-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 80%;
  }
  .Q-container div {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 6px;
  }
  .Q-container div h1 {
    font-size: 18px;
  }
  .image-contain {
    /* height: ; */
    display: flex;
    flex-direction: row;
    /* background-color: #93f31f; */
    border-radius: none;
    /* margin-left: -10px; */
  }
  .image-contain :first-child {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 70%;
    padding-bottom: 2.5px;
    /* background-color: #fff; */
  }
  .image-contain img {
    margin-bottom: -5px;
    width: 30%;
    height: auto;
    margin-left: -10px;
  }
  #last-watch-name {
    display: flex;
    justify-content: center;
    align-items: baseline;
    width: 50%;
    font-size: 10px;
    position: relative;
    margin-top: -6;
    /* top: -80%; */
  }
  .footer-container {
    width: 100%;
    /* background-color: #000; */
  }
  .block1 li {
    /* background-color: #2997ff; */
    padding: 15px 0px 2px 5px;
    font-size: 10px;
  }
  #list-head {
    font-size: 11px;
  }
}

/* Styles for screens between 601px and 1024px */
@media screen and (min-width: 601px) and (max-width: 1024px) {
  /* CSS rules for medium screens */
  .Nav-bar {
    display: none;
  }
  .offer-msg {
    width: 100%;
    height: 75px;
  }
  .offer-msg p {
    font-size: 18px;
  }
  .banner {
    height: 45vh;
  }
  .video-Container {
  }
  .shotOn-video-1 {
    /* background-color: #4e4e4e; */
    height: 30rem;
  }
  .Head-discription {
    height: 20%;
  }
  .watch-description {
    width: 65%;
    /* background-color: #6e6e73; */
    font-size: 18px;
    font-weight: 800;
    padding: 10px;
  }
  .Qualities {
    /* background-color: #fff; */
    margin-top: 4rem;
    height: 18%;
  }
  .Q-container div {
    /* background-color: #6a6a6a; */
    margin: 0px 10px 0px 10px;
    font-size: 18px;
  }
  .watch {
    height: 68vh;
  }
  .watch-container1 {
    height: 90%;
  }
  .image-contain {
    /* background-color: #fff; */
    margin-top: 7.5rem;
  }
  .image-contain img {
    width: 50%;
    z-index: 1;
  }
  #last-watch-name {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #fff; */
  }
  .footer {
    height: 60vh;
  }
  .footer-container {
    width: 90%;
  }
  .footer-discription p {
    font-size: 16px;
  }
  .block1 li {
    font-size: 16px;
  }
}


